<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlayer</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="query" @keyup.enter="searchMusic">
        <input type="button" value="搜 索" @click="searchMusic">
        <div v-if="musicList.length!=0">
            <div>
                <h2 v-if="musicUrl.length!=0&&currentIndex!=-1">正在播放：{{musicList[currentIndex].name}} - {{musicList[currentIndex].artists[0].name}}</h2>
                <img :src="musicCover" :title="musicCoverName" v-if="musicCover.length!=0" width="100px" height="100px">
                <br>
                <audio :src="musicUrl" controls autoplay loop></audio>
            </div>
            <h2>搜索结果：共{{searchResultCount}}个结果</h2>
            <table border="1">
                <tr>
                    <th>歌曲名</th>
                    <th>歌手</th>
                    <th>操作</th>
                </tr>
                <tr v-for="item in musicList">
                    <td>{{item.name}}</td>
                    <td>{{item.artists[0].name}}</td>
                    <td><a href="javascript:;" @click="playMusic(item.id, musicList.indexOf(item))">播放</a></td>
                </tr>
            </table>
            <div v-if="searchHasMore==true">
                <a href="javascript:;" v-if="currentPage>0" @click="prevPage">上一页</a>
                <strong style="border: 1px solid black;">{{currentPage+1}}</strong>
                <a href="javascript:;" v-if="currentPage<=searchMaxPage-2" @click="nextPage">下一页</a>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>